/*
 --primary colour: #00a6fb 
 --dark shade: #0085c9
 */

@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Oswald:wght@200..700&family=Pacifico&family=Roboto+Slab:wght@100..900&display=swap");

body {
  font-family: "Spline Sans", sans-serif;
  color: #777;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s;
}

a:hover {
  color: #00a6fb;
}

img {
  width: 100%;
}

section,
.milestone {
  padding-top: 120px;
  padding-bottom: 120px;
}

.shadow-on-hover {
  transition: all 0.3s;
}

.shadow-on-hover:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* Top Navbar */
.top-nav {
  background-color: #00a6fb;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.top-nav span,
.top-nav i {
  vertical-align: middle;
}

.social-icons a {
  margin-left: 2px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: #fff;
  color: #00a6fb;
}

/* Navbar */
.navbar-nav .nav-link.active {
  color: #00a6fb;
}

.nav-logo {
  font-family: "Mochiy Pop P One", "Pacifico", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #222;
}

.nav-a:hover {
  font-weight: 600;
}

.logo-span {
  color: #0085c9;
}

/* Btn */
.btn {
  border-radius: 0;
  /* padding: 14px 38px; */
  padding: 12px 20px;
}

.btn-brand {
  color: #fff;
  font-weight: 500;
  border-color: #00a6fb;
  background-color: #00a6fb;
}

.btn-brand:hover {
  border-color: #0085c9;
  background-color: #0085c9;
  color: #fff;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

/* Slider */
.slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/cover1.jpg);
}

.slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/cover2.jpg);
}

.slide-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/cover3.jpg);
}

#heroSlider h6::after,
#heroSlider h6::before {
  content: " ";
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  height: 70px;
  margin: auto;
}

/* INFO */
#info {
  position: relative;
}

/* #info::before {
  content: "";
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00a6fb;
  z-index: -1;
} */

#info h6 {
  /* color: #f50e5d; */
  color: #00a6fb;
}

@media (max-width: 992px) {
  #info::before {
    height: 40%;
    width: 100%;
  }
}

/* MILESTONE */
#milestone {
  background: linear-gradient(rgba(0, 166, 251, 0.85), rgba(0, 166, 251, 0.85)),
    url(../images/15872.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#milestone h1,
#milestone p {
  color: #fff;
}

/* SERVICES SECTION */
#services h6 {
  color: #00a6fb;
}

.service {
  padding: 32px;
  background-color: #fff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.service:hover {
  transition: all 0.4s;
  transform: scale(1.03);
}

.service h5 {
  margin-top: 24px;
  margin-bottom: 14px;
}

.service img {
  width: 90px;
}

/* CTA SECTION */
#cta {
  /* background-color: #e93b81; */
  background-color: #00a6fb;
}

.cta-btn:hover {
  color: #fff;
  background-color: transparent;
  font-weight: 450;
}

/* FOOTER SECTION */
.logo-text {
  font-family: "Mochiy Pop P One";
  /* margin-bottom: 10px; */
}
.footer-top {
  padding-top: 80px;
  padding-bottom: 30px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

footer .footer-links a,
footer .social-icons a {
  color: #898fa1;
}

footer .social-icons a {
  font-size: 24px;
}

footer .footer-links a {
  display: block;
  font-weight: 400;
}

footer .social-icons a:hover,
footer .footer-links a:hover {
  /* color: #e93b81; */
  color: #00a6fb;
}
